.label_gameover {
    -fx-font-weight: bold;
    -fx-font-size: 35px;
    -fx-text-fill: black;
}

.label_score_text {
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-text-fill: black;
}

.label_score_number {
    -fx-font-weight: bold;
    -fx-font-size: 35px;
    -fx-text-fill: white;
}

.label_savegamewithname {
    -fx-font-size: 15px;
}

.vbox {
    -fx-border-width: 4px;
    -fx-border-color: black;
    -fx-background-color: rgba(169, 209, 142, 0.9);
}

#savescoreButton {
    -fx-background-color: #759e59;
    -fx-border-width: 1px;
    -fx-border-radius: 10;
    -fx-border-color: black;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-font-size: 20px;
}